.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
  background-color: #0f0f0f;
  padding: 2rem;
  border-radius: 1rem;
}

.rowItem {
  display: flex;
  padding: 1rem;
  gap: 25px;
}

.paragraph {
  margin: auto;
}

.addButton {
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.25rem 0.25rem;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.neutralButton {
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.25rem 0.25rem;
  background-color: #0f0f0f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton {
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.25rem 0.25rem;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}