.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  @media screen and (max-width: 950px) {
    padding: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logout {
  padding: 10px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  gap: 1rem;
  width: 40%;
  background-color: rgb(var(--section-background-rgb));
  padding: 2rem;
  border-radius: 1rem;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}
