.field {
    align-self: stretch;
    flex-grow: 1;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-left: 1rem;
}
  
.field:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rowItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    gap: 25px;
    width: 100%;
}