.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.select {
    width: 150px;
    padding: 0.5rem;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.reportForm {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
  
.reportHeader, .reportRow {
    display: table-row;
    width: 100%;
}

.reportRow {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.reportHeader > div, .reportRow > div {
    display: table-cell;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left; /* Ensure text alignment is consistent */
}

.reportBody {
    display: table-row-group;
    width: 100%;
}
